@import 'components/variables';
@import 'components/reset';
@import 'components/flickity';

html,
body,
#root,
.App {
	height: 100%;
	@include backgroundTop;
}
.App {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	position: relative;
	@include center;
	height: auto;
	&::after {
		transition-duration: 0.3s;
		background: rgba(#000, 0);
	}
}

@import 'components/loader';
@import 'components/login/login';
@import 'components/dashboard/dashboard';
@import 'components/graphs/graphs';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/service/service';
@import 'components/rent/rent';
@import 'components/postSolution/post-solution';
@import 'components/serviceImages/service-images';
@import 'components/chat/chat';
@import 'components/addService/add-service';
@import 'components/collectPay/collect-pay';
@import 'components/historicalData/historical-data';
@import 'components/paybill/paybill';
@import 'components/menu/menu';
@import 'components/toast/toast';