@import 'components/variables';
@import 'components/reset';
@import 'components/flickity';

html,
body,
.App {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	height: 100%;
	@include backgroundTop;
}
.App {
	position: relative;
	@include center;
	height: auto;
	&::after {
		transition-duration: 0.3s;
		background: rgba(#000, 0);
	}
}

@import 'components/loader';
@import 'components/login/login';
@import 'components/dashboard/dashboard';
@import 'components/graphs/graphs';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/service/service';
@import 'components/postSolution/post-solution';
@import 'components/serviceImages/service-images';