.toast {
	position: absolute;
	width: 90%;
	bottom: 10px;
	left: 5%;
	background: #E0E5E9;
	@include center;
	flex-direction: column;
	z-index: 213434295345389;
	border-radius: 5px;
	@include center;
	transform: translateY(130%);
	transition-duration: 0.5s;
	cursor: pointer;
	&>h3 {
		width: 92.5%;
		text-align: left;
		margin: 10px 0px 5px 0;
		font-weight: 200;
		color: $redish;
	}
	&>p {
		margin: 0;
		text-align: left;
		width: 92.5%;
		margin-bottom: 10px;
	}
}

.toast-show {
	transform: translateY(0%);
}