.header {
	width: 100%;
	height: 70px;
	max-height: 70px;
	overflow: hidden;
	@include center;
	z-index: 312340;
	transform: translateY(0%);
	transition-delay: 0.2s;
	transition-duration: 0.3s;
	&>h1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 1.5em;
		@include center;
		color: $redish;
		margin: 0;
		padding: 0;
		margin-top: 17.5px;
		font-weight: 200;
		transform: translateY(-100%);
		opacity: 0;
		transition-duration: 0.3s;
	}
	&>div {
		width: 90%;
		max-width: 450px;
		@include center
		justify-content: space-between;
		&>button {
			height: 50px;
			width: 50px;
			border: none;
			outline: none;
			border-radius: none;
			box-sizing: border-box;
			// border: 1px solid #fff;
			background: none;
			position: relative;
			margin: 0;
			padding: 0;
			transition-duration: 0.3s;
			&>svg {
				@include center;
				height: 40px;
				width: 40px;
				position: absolute;
				top: 5px;
				left: 5px;
			}
		}
		&>button:nth-of-type(2)>svg {
			height: 35px;
			width: 35px;
			left: 7.5px;
		}
		&>button:nth-of-type(3)>svg {
			top: 2.5px;
			left: 7.5px;
			height: 37.5px;
			width: 37.5px;
		}
		&>button:nth-of-type(2) {
			transition-delay: 0.2s;
		}
		&>button:nth-of-type(3) {
			transition-delay: 0.2s;
		}
	}
}

.burger {
	@include center;
	&>div {
		height: 20px;
		width: 32.5px;
		position: relative;
		margin-top: -5px;
		margin-right: -2.5px;
		&::after {
			content: '';
			position: absolute;
			top: 9.5px;
			right: -3px;
			height: 2px; width: 90%;
			background: #4E75C9;
			transform: scaleX(0);
			transform-origin: 100% 50%;
			transition-duration: 0.3s;
			border-radius: 2px;
		}
		&>div {
			width: 30px;
			height: 2px;
			background: #3C568A;
			transition-duration: 0.3s;
		}
		&>#top {
			position: absolute;
			top: 0;
			right: 0;
			// transform-origin: 100% 50%;
		}
		&>#middle {
			position: absolute;
			top: calc(50% - 1px);
			right: 0;
			transition-duration: 0.5s;
		}
		&>#bottom {
			position: absolute;
			width: 20px;
			bottom: 0;
			right: 0;
			transform-origin: 100% 50%;
			transition-delay: 0.3s;
		}
	}
}

.burger-x {
	&>div>#top {
		transform: translateY(9px) translateX(5px) rotate(135deg);
		transition-delay: 0.3s;
		background: #4E75C9;
	}
	&>div>#middle {
		transform: translateY(0px) translateX(5px) rotate(225deg);
		transition-delay: 0.3s;
		background: #4E75C9;
	}
	&>div>#bottom {
		transform: scaleX(0);
		transition-delay: 0s;
	}
}

.burger-arrow {
	&>div::after {
		transform: scaleX(1);
		transition-delay: 0.3s;
	}
	&>div>#top {
		transform: translateY(5px) translateX(15px) rotate(225deg) scaleX(0.5);
		transition-delay: 0s;
		background: #4E75C9;
	}
	&>div>#middle {
		transform: translateY(5px) translateX(15px) rotate(315deg) scaleX(0.5) ;
		transition-delay: 0s;
		background: #4E75C9;
	}
}

.header-hide-center {
	&>h1 {
		transform: translateY(0%);
		opacity: 1;
		transition-delay: 0.2s;
	}
	&>div>button:nth-of-type(2),
	&>div>button:nth-of-type(3) {
		opacity: 0;
		transform: scale(0);
		transition-delay: 0s;
	}
}

.header-hide-chat {
	transform: translateX(-100%);
	opacity: 0;
	transition-delay: 0s;
	z-index: -10;
}