.circ-section-container {
	@include center;
	width: 100%;
	&>.circ-section {
		@include center;
		width: 100%;
		flex-diection: row;
		flex-wrap: wrap;
		justify-content: space-between;
		&>.circle {
			@include center;
			width: 50%;
			height: auto;
			&:last-of-type {
				margin-left: 25%;
				margin-top: -7.5%;
			}
			&>.circ {
				@include center;
				position: relative;
				width: 100%;
				padding-bottom: 100%;
				cursor: pointer;
				background: transparent;
				&>.circle-container {
					@include center;
					position: absolute;
					top: 0%;
					left: 0%;
					height: 100%;
					width: 100%;
					transform: rotate(-90deg);
					background: transparent;
					z-index: 3;
					&>circle {
						transition-timing-function: cubic-bezier(0.99, 0.01, 0.62, 0.94);
						transition: stroke-dashoffset 0.8s 0.15s, stroke-dasharray 0.8s 0.15s;
					}
				}
				&>img {
					position: absolute;
					top: 12.5%; left: 12.5%;
					height: 75%; width: 75%;
					transition: transform 0.8s 0.15s;
					z-index: 10;
					border-radius: 50%;
				}
				&>.title {
					position: absolute;
					top: 0; left: 0;
					width: 100%; height: 100%;
					text-align: center;
					font-weight: 200;
					color: #fff;
					background: transparent;
					@include center;
					flex-direction: column;
					z-index: 11;
					&>h3,h4,h5,h4>span {
						margin: 0;
						font-weight: 200;
					}
					&>h3 {
						font-size: 3.25vh;
						font-weight: 400;
						font-weight: 900;
					}
					&>h4 {
						font-size: 4vh;
						color: #fff;
						color: #527BC6;
					}
				}
			}
		}
	}
}