.chat {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 5px);
	// background: #fff;
	@include center;
	overflow-x: hidden;
	transform: translateX(100%);
	transition-duration: 0.3s;
	z-index: 3209384571312340;
	@include backgroundTop;
	@media #{$mq-670} {
		height: 450px;
		width: 450px;
		left: auto;
		right: 0;
		bottom: 0;
		top: auto;
		border-top-left-radius: 5px;
		@include leftShadow;
	}
	&>div {
		width: 100%;
		height: 100%;
		@include center;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		&>.chat-header {
			@include center;
			width: 100%;
			height: 50px;
			// background: #f68084;
			// @include headerShadow;
			border-bottom: 1px solid $purple;
			box-sizing: border-box;
			z-index: 3;
			&>div {
				height: 50px;
				width: calc(100% - 30px);
				@include center;
				flex-direction: row;
				justify-content: space-between;
				&>button {
					padding: 0;
					outline: none; border: none;
					height: 35px; width: 35px;
					border-radius: 0;
					box-shadow: none;
					z-index: 2;
					&:first-of-type {
						background: transparent url('contacts.svg') no-repeat center;
						background-size: contain;
					}
					&:last-of-type {
						background: transparent url('arrow-right.svg') no-repeat center;
						background-size: contain;
						z-index: 45;
					}
				}
				&>h3 {
					color: $purple;
					font-weight: 400;
					font-size: 1.5em;
				}
			}
		}
		&>.messages {
			height: calc(100% - 110px);
			width: 100%;
			// background: #fff;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			transition-duration: 0.3s;
			&>div {
				@include center;
				height: auto;
				min-height: 100%;
				width: 100%;
				flex-direction: column;
				justify-content: flex-start;
				&>.message {
					// background: #E4E8E8;
					border: 1px solid $purple;
					color: $purple;
					border-radius: 20px;
					padding: 12.5px 10px;
					align-self: flex-start;
					margin-left: 10px;
					margin-top: 10px;
					max-width: 80%;
					@include center;
					&:last-of-type{
						margin-bottom: 10px;
					}
				}
				&>.mine {
					border: 1px solid $redish;
					color: $redish;
					align-self: flex-end;
					margin-left: 0;
					margin-right: 10px;
				}
			}
		}
		&>.messages-move { transform: translateX(70%)}
		&>.sender {
			width: 100%;
			height: 60px;
			max-height: 60px;
			@include center;
			flex-direction: row;
			position: fixed;
			bottom: 0;
			left: 0;
			background: #0E1117;
			@include topShadow;
			transition-duration: 0.3s;
			&>textarea {
				outline: none; border: none;
				width: calc(100% - 60px);
				min-width: calc(100% - 60px);
				max-width: calc(100% - 60px);
				margin: 0; padding: 0;
				background: transparent;
				height: 50px;
				max-height: 50px;
				min-height: 50px;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				appearance: none;
				border-radius: 0;
				color: $redish;
			}
			&>.s-button {
				height: 60px; width: 60px;
				outline: none; border: none;
				padding: 0; margin: 0;
				border-radius: 50%;
				position: relative;
				background: transparent;
				border: 1px solid $redish;
				box-sizing: border-box;
				@include topShadow;
				@include center;
				overflow: hidden;
				&>img {
					height: 25px; width: 25px;
					position: absolute;
					top: 17.5px; left: 17.5px;
					transition-duration: 0.3s;
				}
			}
			&>.fly1 {
				&>img {
					transform: translateX(50px) translateY(-50px) rotate(-45deg);
				}
			}
			&>.fly2 {
				&>img {
					transform: translateX(-70px) translateY(-40px) rotate(45deg);
					transition-duration: 0s;
				}
			}
			&>.fly3 {
				&>img {
					transform: translateX(0px) translateY(0px) rotate(0deg);
					transition-duration: 0.3s;
				}
			}
		}
		&>.sender-move { transform: translateX(70%)}
		&>.m-list {
			position: absolute;
			top: 50px;
			left: 0;
			@include rightShadow;
			height: calc(100% - 50px);
			width: 70%;
			max-width: 225px;
			background: #1A2233;
			transform: translateX(-110%);
			transition-duration: 0.3s;
			border-right: 0.5px solid $purple;
			&>div {
				width: 100%;
				height: auto;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				@include center;
				flex-direction: column;
				&>.contact-list-header {
					font-size: 2em;
					font-weight: 200;
					color: $redish;
					margin: 10px auto;
				}
				&>.manager-contact {
					height: 50px;
					border-bottom: 0.5px solid $purple;
					@include center;
					width: 100%;
					color: $purple;
					cursor: pointer;
				}
				&>.mc-group {
					border-top: 0.5px solid $purple;
				}
			}
		}
		&>.m-list-show {
			transform: translateX(0%);
		}
	}
}

.chat-show {
	transform: translateX(0%);
}