.dashboard {
	@include center;
	width: 100%;
	&>div {
		@include center;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		&>.slider {
			height: 100%;
			width: 100%;
			@include center;
			transition-duration: 0.3s;
			outline: none;
			& .slide {
				height: auto;
				width: 100%;
				@include center;
			}
		}
		&>.slider-move {
			transform: translateX(-100%);
		}
	}
}

.flickity-viewport,
.flickity-slider {
	height: 100%;
	width: 100%;
	@include center;
}